<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Library Database System</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        [ <a href="/">Books</a> | <a
            href="/books_authors">Books_Authors</a> | <a href="/books_genres">Books_Genres</a> | <a
            href="/books_users">Books_Users</a> | <a href="/users">Users</a> | <a href="/reviews">Reviews</a>
        | <a href="/publishers">Publishers</a> | <a href="/genres">Genres</a> | <a
            href="/authors">Authors</a>
        ]
    </header>

    {{{body}}}
    
</body>
</html>
