<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Database</title>
</head>

<body>

    <h1>Library Database</h1>

    <nav>
        [ <a href="index.html">Home</a> | <a href="books.html">Books</a> | <a
            href="books_authors.html">Books_Authors</a> | <a href="books_genres.html">Books_Genres</a> | <a
            href="books_users.html">Books_Users</a> | <a href="user.html">Users</a> | <a href="reviews.html">Reviews</a>
        | <a href="publishers.html">Publishers</a> | <a href="genres.html">Genres</a> | <a
            href="authors.html">Authors</a>
        ]
    </nav>

    <h1>Select one of the nav bar pages above</h1>

</body>

</html>