#add-author {
    border: 2px solid black;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 10px;
}

table {
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid black;
    padding: 10px;
}

#add-author h2 {
    margin-top: 0;
}

 #add-books-authors-form {
    border: 2px solid black;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 10px;
}

#add-books-authors h2 {
    margin-top: 0;
}
#add-books-genres-form {
    border: 2px solid black;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 10px;
}

#add-books-genres h2 {
    margin-top: 0;
}

#add-books-users-form {
    border: 2px solid black;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 10px;
}

#add-books-users h2 {
    margin-top: 0;
}

#add-user-form {
    border: 2px solid black;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 10px;
}

#add-user h2 {
    margin-top: 0;
}

#add-review-form {
    border: 2px solid black;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 10px;
}

#add-review h2 {
    margin-top: 0;
}

#add-publisher-form {
    border: 2px solid black;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 10px;
}

#add-publisher h2 {
    margin-top: 0;
}

#add-genre-form {
    border: 2px solid black;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 10px;
}

#add-genre h2 {
    margin-top: 0;
}

#add-book-form {
    border: 2px solid black;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 10px;
}

#add-book-form h2 {
    margin-top: 0;
}

#search-book-html {
    border: 2px solid black;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 10px;
}

#search-book-html h2 {
    margin-top: 0;
}


#update-book-form-ajax {
    border: 2px solid black;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 10px;
}

#update-book-form-ajax h2 {
    margin-top: 0;
}